body {
    font-family: 'Playfair', sans-serif;
    background: linear-gradient(to top, #e1cd8e, #fff3d5);
    color: #333333;
    line-height: 1.5;
}

/* Header */
header {
    font-family: 'Playfair', sans-serif;
}

header p {
    font-size: 25px;
    margin-bottom: 0;
}
#bottom-socials {
    margin-top: 200px;
    margin-bottom: 200px;
    max-width: 800px;
}

/*.rectangle {*/
/*    !*position: relative;*!*/
/*    border-radius: 50px;*/
/*    min-width: 400px;*/
/*    font-size: 20px;*/
/*    margin: 8px;*/
/*    overflow: hidden;*/
/*    background-color: lightsteelblue;*/
/*    height: 80px; !* Adjust the height as desired *!]*/
/*}*/

.card {
    border: 2px black solid;
    margin-top: 8px;
    margin-bottom: 8px;
}

a:visited {
    color: #4a6464;
}

a {
    text-decoration: none; !important;
    color: black; !important;
}

#projects a {
    text-decoration: underline;
}

.circle {
    margin-left: 150px;
    text-align: center;
    /*z-index: 999;*/
}

#headshot {
    width: auto;
    height: auto;
    max-width: 200px;
    object-fit: cover;
    /*border-radius: 100%;*/
    border: black 6px solid;
    /*animation: border-shrink 1s ease-in-out forwards;*/
    object-position: top;
    /*z-index: 999;*/
    /*margin-top: -100px;*/
    /*margin-bottom: -100px;*/
    padding: 0px;
}

#about{
    padding-top: 100px;
    padding-bottom: 100px;
}

#about-section{
    /*width: 1200px;*/
    background-color: rgb(100, 100, 100, 1);

}

#content {
    margin-left: 100px;
    margin-right: 100px;
}

@media (max-width: 991px){
    /*#about-section{*/
    /*    width: 900px;*/
    /*}*/

    /*#about{*/
    /*    width: 600px;*/
    /*}*/

    #content {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .circle {
        margin-left: 0;
    }

    /*#headshot {*/
    /*    width: 130px;*/
    /*    height: auto;*/
    /*    max-width: 130px;*/
    /*    object-fit: cover;*/
    /*    !*border-radius: 100%;*!*/
    /*    border: black 4px solid;*/
    /*    !*animation: border-shrink 1s ease-in-out forwards;*!*/
    /*    object-position: top;*/
    /*    z-index: 999;*/
    /*    margin-top: -70px;*/
    /*    margin-bottom: -70px;*/
    /*}*/

    .card {
        margin-top: 0;
        margin-bottom: 0;
    }

    section {
        padding: 0;
        margin: 0 0;
    }

    #greeting{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}


/* Responsive adjustments */
/*@media (max-width: 768px) {*/

/*    #about{*/
/*        width: 600px;*/
/*    }*/

/*    !* Adjustments for smaller screens *!*/
/*    !*#headshot {*!*/
/*    !*    width: 160px;*!*/
/*    !*    max-width: 200px;*!*/
/*    !*    border: black 4px solid;*!*/
/*    !*    margin-top: -140px;*!*/
/*    !*    margin-bottom: -140px;*!*/
/*    !*}*!*/
/*    !*.rectangle {*!*/
/*    !*    height: 200px;*!*/
/*    !*    max-height: 200px;*!*/
/*    !*    min-width: 100px;*!*/
/*    !*    margin: 12px;*!*/
/*    !*    font-size: 15px;*!*/
/*    !*}*!*/
/*}*/

/*@media (max-width: 480px) {*/
/*    !* Adjustments for even smaller screens *!*/
/*    !*#headshot {*!*/
/*    !*    width: 80px;*!*/
/*    !*    max-width: 100px;*!*/
/*    !*    margin-top: -80px;*!*/
/*    !*    margin-bottom: -80px;*!*/
/*    !*}*!*/

/*    !*.rectangle{*!*/
/*    !*    padding: 0;*!*/
/*    !*    height: 120px;*!*/
/*    !*    max-height: 120px;*!*/
/*    !*    margin: 6px;*!*/
/*    !*}*!*/
/*}*/

/* Main Sections */
section {
    /*padding: 40px;*/
    /*margin: 20px 0;*/
    /*background-color: rgb(100, 100, 100, .5);*/
    /*background-color: #ffffff;*/
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

p {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}

.project img {
    width: 100%;
    height: auto;
}

/* Contact */
.contact-links a {
    display: inline-block;
    margin-right: 20px;
    color: #333333;
    text-decoration: none;
}

.contact-links a:last-child {
    margin-right: 0;
}

.contact-links i {
    margin-right: 5px;
}

/* Footer */
footer {
    padding: 20px;
    text-align: center;
    background-color: #333333;
    color: #ffffff;
}

